{%- raw %}
{% load static %}
{% load django_htmx %}
{%- endraw %}

<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix, CheckEmptyScriptTag -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ cookiecutter.project_name }}</title>

    {%- raw %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <script src="{% static 'js/alpine.js' %}" defer></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {%- endraw %}
  </head>

  <body>
    {%- raw %}
    <main id="main">
      {% block main %}{% endblock %}
    </main>
    {% django_htmx_script %}
  {% endraw %}
  </body>
</html>
