{% raw %}{% load static %}{% endraw %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% raw %}{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}{% endraw %}</title>
  <meta name="author" content="{{ cookiecutter.author_name }}">
  {%- if cookiecutter.css_framework == 'Tailwind CSS' %}
  {% raw %}{% if debug %}{% endraw %}
  <link rel="stylesheet" href="{% raw %}{% static 'css/main.css' %}{% endraw %}">
  {% raw %}{% else %}{% endraw %}
  <link rel="stylesheet" href="{% raw %}{% static 'css/main.min.css' %}{% endraw %}">
  {% raw %}{% endif %}{% endraw %}
  {%- endif %}
  {%- if cookiecutter.css_framework == 'Missing CSS' %}
  <link rel="stylesheet" href="{% raw %}{% static 'css/missing.min.css' %}{% endraw %}">
  {%- endif %}
  {%- if cookiecutter.css_framework == 'Pico CSS' %}
  <link rel="stylesheet" href="{% raw %}{% static 'css/pico.min.css' %}{% endraw %}">
  {%- endif %}
  {%- if cookiecutter.use_htmx == 'y' %}
  <script src="{% raw %}{% static 'js/htmx.min.js' %}{% endraw %}" defer></script>
  {%- endif %}
  {%- if cookiecutter.use_hyperscript == 'y' %}
  <script src="{% raw %}{% static 'js/_hyperscript.min.js' %}{% endraw %}" defer></script>
  {%- endif %}
</head>
<body>
  <header>
    <a href="{% raw %}{% url 'home' %}{% endraw %}">Home</a>
    <a href="{% raw %}{% url 'about' %}{% endraw %}">About</a>
  </header>
{% raw %}{% block content %}{% endraw %}
{% raw %}{% endblock content %}{% endraw %}
</body>
</html>
